<div class="container">
  <div class="card p-3 mt-5 ">
    <h2>Login</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <%= f.input :username,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "username" } %>
        <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in", class:'btn btn-outline-dark border-pattern' %>
      </div>
    <% end %>
  </div>
  <div class="container mt-2">
    <%= render "devise/shared/links" %>
  </div>
</div>
